.header {
  display: flex;
  flex-direction: column;
  padding: 16px;
}



 table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(174, 174, 174);
  }

th {
  background-color: lightgray;
}

p {
  margin-bottom: 16px;
}



