.stats {
  display: flex;
  align-items: stretch;
  margin-bottom: 16px;
  gap: 8px;

}


.card {
  border: 1px solid #d2d7de;
  background-color: rgba(255, 255, 255, 0.783);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  border-radius: 8px;
}

.card-header {
  display: flex;
  margin-bottom: 8px;
}

.card-label {
  font-size: 16px;
  font-weight: 500;
  flex: 1;
}

.card-value {
  font-size: 16px;
  font-weight: 400;
}

.card-icon {
  width: 16px;
  margin-right: 4px;
}