body {
  margin: 0;
  display: flex;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #213547;
}

h1 {
  font-size: 48px;
  margin: 0;
}

p {
  margin: 0;
  margin-top: 8px;
  font-size: 16px;
}
